@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* Shared style */

.display-flex {
    display: flex;
    justify-content: space-between;
}

.pri-color {
    color: rgb(66, 66, 66);
}

.btn-pri {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 15px 30px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    border: none;

}



/* nav related style */
.bg-color {
    background: rgba(255, 144, 14, 0.1);
    padding-top: 20px;

}

.navbar {
    align-items: center;

}

.brand-name {
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    align-items: center;
}

.nav-items {
    list-style: none;
    margin-right: 30px;

}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.navbar,
.bannner {
    max-width: 1440px;
    margin: 0 auto;
}

/* style banner part */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-content {
    max-width: 850px;
    margin: 50px auto;
    text-align: center;

}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 50px;

}

.banner-des {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 10px;
}

.png {
    max-width: 1200px;
}

.banner-png {
    width: 100%;
    border-radius: 5px;
}

/* features section style */
.features {
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;


}

.features-img {
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 10px;

}

.img {
    width: 100%;
}


.features,
.features-content-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;

}

.features-content-des {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;


}

.title {
    color: rgb(114, 114, 114);

}

.style {
    color: rgb(255, 144, 14);

}

/* features enjoy style */


.features-enjoy {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 120px;

}


#features-enjoy-title {
    border-left: 5px solid salmon;
    padding-left: 20px;

}

.enjoy-title {
    color: rgb(19, 19, 19);
    font-size: 2rem;
    font-weight: 700;
}

.enjoy-des {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    margin: 20px;
}

.feature-card {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;

}

.feature-card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5px;
}

.feature-card p {
    color: rgb(114, 114, 114);
    font-size: 0.8rem;
    font-weight: 400;

}



#Experience-badge {
    padding: 30px 42px;
    max-width: 200px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-left: -100px;
    margin-top: -100px;
    position: absolute;

}


#Experience-year {
    font-size: 2rem;
    font-weight: 700;
}



.sopnsor-img {
    width: 100%;
    height: 100vh;
}



/* section fact added */
.fact-section {
    margin-top: 80px;
    padding: 0 50px;

}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 5px;


}

.section-des {

    color: rgb(114, 114, 114);

    font-size: 1rem;
    font-weight: 400;
    max-width: 800px;



}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    margin: 80px auto;
    max-width: 1200px;
}

.fact {
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    text-align: center;
    padding: 40px;
    width: 100%;
    max-width: 240px;
}

.sponsor {
    margin-top: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.sponsor h3 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.sponsor p {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
}

/* Container of logos */
.sponsor-img {
    display: flex;
    gap: 150px;

}

.img-sponsor {
    max-width: 100px;
    width: 100%;
    filter: grayscale(100%);
}


.footer-section {
    margin-top: 80px;
    text-align: center;

}

.footer {
    padding: 20px;
    color: rgb(66, 66, 66);
    font-size: 1.2rem;
    font-weight: 400;

}















@media screen and (max-width:576px) {

    .display-flex,
    .nav-link {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 20px;
    }

    .features {

        flex-direction: column-reverse;


    }

    .features-content {
        margin: 0 15px;
    }

    .sopnsor-img {
        width: 100%;
        height: auto;
    }

    .features-enjoy {
        flex-direction: column;
        align-items: center;
    }

    #Experience-badge {
        position: static;
        margin: 10px auto;
        text-align: center;
    }

    .fact-container {
        grid-template-columns: 1fr;
        margin-right: 90px;
        width: 100%;
    }

    .sponsor-img {
        flex-direction: column;
        gap: 30px;
    }

    .sponsor p {
        font-size: 0.8rem;
    }



}






@media screen and (min-width:577px) and (max-width:992px) {

    .display-flex,
    .nav-link {
        flex-direction: column;

    }

    .features {
        flex-direction: column-reverse;
        text-align: center;


    }

    .sopnsor-img {
        width: 100%;
        height: auto;
    }

    .features-enjoy {
        flex-direction: column;
        align-items: center;
    }

    #Experience-badge {
        position: static;
        margin: 10px auto;
        text-align: center;
    }

    .fact-container {
        grid-template-columns: repeat(2, 1fr);
        margin-right: 50px;
    }

    .sponsor-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;

    }

    .sponsor p {
        font-size: 0.8rem;
    }



}